{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}
{% block content %}
<section class="example-section">
    <h1>Пример обработки</h1>
    <p>Данное изображение получено с применением пороговой бинаризации.</p>
    <img src="{% static 'images/tree_binarization.jpg' %}" alt="Пример изображения">
    <button>Опробовать фильтры</button>
</section>
<section class="filters-section">
    <h1>Примеры фильтров</h1>
    <div class="filter">
        <h2>Бинаризация</h2>
        <p>Позволяет перевести исходное изображение в изображение с палитрой из двух цветов, один из которых соответствует логической 1, другой - 0.</p>
    </div>
    <div class="filter">
        <h2>Размытие по Гауссу</h2>
        <p>Позволяет уменьшить шумы на изображении и снизить детализацию. Зачастую применяется для предобработки изображения в различных алгоритмах компьютерного зрения.</p>
    </div>
    <div class="filter">
        <h2>Оператор Кэнни</h2>
        <p>Также зачастую называется детектором границ Кэнни. Позволяет обнаружить широкий спектр границ на изображении.</p>
    </div>
</section>
{% endblock %}
