.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Заголовки */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Формы */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

/* Сообщения */
.error-messages, .success-messages {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.error-messages {
    display: none; /* По умолчанию скрыто */
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

.error-messages p {
    margin: 0;
}

.error-messages.active {
    display: block; /* Показывается только при наличии класса active */
}


.success-messages {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Ссылки */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Центрирование текста */
p {
    text-align: center;
    margin-top: 20px;
}