@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #e8faff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.logo img {
    height: 60px;
    margin-right: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Черный цвет текста */
    font-weight: bold; /* Жирный шрифт */
    display: flex; /* Используем flex для выравнивания текста и иконки */
    align-items: center; /* Вертикальное выравнивание текста и иконки */
    font-size: 1.2rem;
}

nav ul li a .filter-icon {
    margin-right: 8px; /* Отступ между иконкой и текстом */
    width: 20px; /* Можно настроить размер иконки */
    height: auto; /* Соотношение сторон иконки сохраняется */
}

nav ul li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}


.icons img {
    height: 40px;
    margin-left: 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15% 15px 15%;
    background-color: #e8faff;
    font-size: 0.7rem;
}

footer p {
    padding: 5px;
    margin: 0;
}

.contact-info {
    text-align: right;
    margin-left: auto;
}
