.filter-page-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.left-column {
    width: 30%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-column h2 {
    margin-top: 0;
    font-size: 1.6rem;
}

.left-column .filter-settings {
    margin-top: 20px;
}

.right-column {
    width: 65%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

#filter-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.upload-container {
    text-align: center;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    padding: 10px 20px;
    background-color: #4f7dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
}

.upload-container label:hover {
    background-color: #3c6f8f;
}

canvas {
    width: 500px;  /* Ширина 100% контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
